{% extends 'flatpages/default.html' %}
{% load custom_filters %}

{% block title %}
posts
{% endblock title %}

{% block content %}
   <h1>News</h1>
   <hr>
   <h2>Всего статей-> {{posts|length}}</h2>
   {% if posts %}
   <div style = "text-align: center;">
       <table style = "display: inline-block;">
           <tr>
               <td>Заголовок</td>
               <td>Дата пуб.</td>
               <td>Новость</td>
           </tr>

           {% for post in posts %}
           <tr>
               <td>{{ post.title|censor }}</td>
               <td>{{ post.created_at|date:'d.m.o' }}</td> <!--2-->
               <td>{{ post.content|truncatechars:20|censor }}</td>
           </tr>
           {% endfor %}
    </div>

       </table>
   {% else %}
       <h2>Не нашли то что вы искали</h2>
   {% endif %}
{% endblock content %}